<?xml version="1.0" encoding="utf-8"?>
<!--
  IIS web.config for WitsmlExplorer API (ASP.NET Core out-of-process hosting).
  This file is placed in the published output directory and used by IIS when
  the API is hosted as a sub-application (e.g. /storeExplorer-api).
-->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\WitsmlExplorer.Api.dll"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="outofprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
